@use "src/stylesheets/variables/spacings";
@use "src/stylesheets/variables/breakpoints";

// Layout
.home {
  display: none;
  @media (min-width: breakpoints.$md) {
    display:none;
  }

  @media (min-width: breakpoints.$lg) {
    display: block;
    background-color: tomato;

    section.twoColumn {
      background-color: blue;
      column-count: 2;
    }

    section.threeColumn {
      background-color: green;
      column-count: 3;
    }

    section.leftFloating,
    section.rightFloating {
      display: flex;

      h1 {
        flex: 1;
      }

      p {
        flex: 2;
      }
    }

    section.rightFloating {
      background-color: gray;

      img {
        margin-left: spacings.$s-8;
        margin-bottom: spacings.$s-8;
        float: right;
      }
    }

    section.leftFloating {
      background-color: gray;

      img {
        margin-right: spacings.$s-8;
        margin-bottom: spacings.$s-8;
        float: left;
      }
    }

    section.twoColumnsMerging {
      background-color: pink;
      display: grid;
      grid-template-columns: 1fr 1fr;

      & > p {
        grid-column: span 2;
      }
    }
  }
}
// Styling
.home {
  img {
    max-width: 100%;
  }

  background-color: tomato;

  header {
    margin-left: auto;
    margin-right: auto;
  }

  section.leftFloating,
  section.rightFloating {
    img {
      max-width: 50%;
    }
    p {
      text-align: justify;
    }
  }
}
