@use 'src/stylesheets/variables/spacings';


.containerItems{

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
  column-gap: spacings.$s-8;
  row-gap: spacings.$s-8;

}