@use 'src/stylesheets/variables/typo';

.button {
  height: auto !important;
  border-radius: 4px;
  min-width: 10.5rem;
  border-width: 1px;
  padding: 0.75rem 1.5rem;
  font-size: typo.$s;
  outline: none;
  color: var(--starbright-600);
  background-color: var(--english-breakfast-600);
  border-color:var(--english-breakfast-600);
  box-shadow: 0 0.25rem 0.5rem 0 hsla(var(--english-breakfast-700), 0.25),
  inset 0.125rem 0.125rem 0.5rem 0 hsla(var(--english-breakfast-700), 0.5);

  &:global(.secondary) {
    color: var(--dark-orchestra-600);
    background-color: transparent;
    border-color: var(--english-breakfast-800);
    box-shadow: 0 0.25rem 0.5rem 0 hsla(var(--english-breakfast-900), 0.25),
    inset 0.125rem 0.125rem 0.5rem 0 hsla(var(--english-breakfast-900), 0.5);

  }

  &:global(.small) {
    padding: 0.5rem 0.75rem;
    font-size: typo.$xs;
    min-width: unset;
  }


  &:hover {
    color: var(--starbright-600);
    background-color: var(--english-breakfast-700);
    border-color: var(--english-breakfast-700);
    box-shadow: 0 0.25rem 0.5rem 0 hsla(var(--english-breakfast-800), 0.25),
    inset 0.125rem 0.125rem 0.5rem 0 hsla(var(--english-breakfast-800), 0.5);
  }



  &:active {
    color: var(--starbright-600);
    background-color: var(--english-breakfast-900);
    border-color: var(--english-breakfast-900);
    box-shadow: 0 0.25rem 0.5rem 0 hsla(var(--english-breakfast-1000), 0.25),
    inset 0.125rem 0.125rem 0.5rem 0 hsla(var(--english-breakfast-1000), 0.5);
  }

  &[disabled], &[disabled]:hover {
    color: var(--smooth-coffee-400);
    background-color: var(--english-breakfast-200);
    border-color: var(--english-breakfast-200);
    box-shadow: 0 0.25rem 0.5rem 0 hsla(var(--smooth-coffe-300), 0.25),
    inset 0.125rem 0.125rem 0.5rem 0 hsla(var(--smooth-coffe-300), 0.5);
  }

}

