@use "src/stylesheets/variables/typo";
@use "src/stylesheets/variables/spacings";

.h1 {
  h1 {
    margin-bottom: 0px;
  }

  small {
    font-size: typo.$s;
    font-weight: lighter;
  }

  margin-bottom: spacings.$s-6;
}

.title {
  width: 100%;
  margin-bottom: spacings.$s-8;
}

.description {
  width: 100%;
  margin-bottom: spacings.$s-8;
}

.tags {
  width: 100%;
  margin-bottom: spacings.$s-8;
}

.others {
  display: flex;
  justify-content: space-between;
}


.buttons {
  margin-top: spacings.$s-18;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}