@use "src/stylesheets/variables/spacings";
@use "src/stylesheets/variables/breakpoints";

.containerItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 100%));
  column-gap: spacings.$s-6;
  row-gap: spacings.$s-6;

  @media (min-width: breakpoints.$xl) {
    grid-template-columns: repeat(4, minmax(160px, 1fr));
    //grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));

    & > :nth-child(4n + 2) {
      grid-column: span 2;
    }

    & > :nth-child(4n) {
      grid-column: span 4;
      grid-row: span 1;
    }

    & > :nth-child(4n + 1),
    & > :nth-child(4n + 2),
    & > :nth-child(4n + 3) {
      grid-row: span 2;
    }
  }
}
