@use 'src/stylesheets/variables/typo';
@use 'src/stylesheets/variables/colors';
@use 'src/stylesheets/variables/spacings';


.listClaimsItem {
  display: flex;
  flex-direction: column;
  flex: 1;

  @media (min-width: 1200px) {
    border: 1px solid map-get(colors.$palette, secondary);
    border-radius: 4px;
  }

  padding-top: spacings.$s-2;
  padding-bottom: spacings.$s-2;
  padding: spacings.$s-2;


  &:hover {
    color: unset;
  }
}

.trustScore {
  display: flex;
  justify-content: space-between;
  font-size: typo.$m;
  color: map-get(colors.$palette, 'grey', 'alpha');
  margin-bottom: spacings.$s-2;
}


.title {
  font-size: typo.$l;
  font-weight: 500;
  color: map-get(colors.$palette, 'secondary');
  margin-right: spacings.$s-2;

  & > span {
    vertical-align: middle;
  }
}

//.description {
//  text-overflow: ellipsis;
//  overflow: hidden;
//  white-space: nowrap;
//  //display: -webkit-box;
//  //-webkit-line-clamp: 3;
//  //-webkit-box-orient: vertical;
//}

.description {
  margin-bottom: spacings.$s-2;
}

.createdAt {
  margin-top: auto;
  font-size: typo.$s;
  color: map-get(colors.$palette, 'grey', 'alpha')
}

.children {
  display: contents;

  & > span {
    align-self: center;
  }
}