@use 'src/stylesheets/variables/typo';

.dropdown {
  height: auto !important;
  border-radius: 4px;
  min-width: 10.5rem;
  border-width: 1px;
  padding: 0.75rem 1.5rem;
  font-size: typo.$s;
  outline: none;

  color: var(--starbright-600);
  background-color: var(--english-breakfast-600);
  border-color:var(--english-breakfast-600);

  &:global(.secondary) {
    color: var(--dark-orchestra-600);
    background-color: transparent;
    border-color: var(--english-breakfast-800);
  }

  &:global(.small) {
    padding: 0.5rem 0.75rem;
    font-size: typo.$xs;
    min-width: unset;
  }


  &:hover {
    color: var(--starbright-600);
    background-color: var(--english-breakfast-700);
    border-color: var(--english-breakfast-700);
  }


  &:active {
    color: var(--starbright-600);
    background-color: var(--english-breakfast-900);
    border-color: var(--english-breakfast-900);
  }
  
}

