@use "src/stylesheets/variables/typo";
@use "src/stylesheets/variables/spacings";

.eventLog {

  width: 90%;
  max-width: 1200px;

  .title {
    font-size: typo.$l;
    margin-bottom: spacings.$s-7;
  }

  table {
    width: 100%;
    table-layout: fixed;
    //border-collapse: separate;
    //border-spacing: spacings.$s-4;
    //-webkit-border-vertical-spacing: spacings.$s-4;

    tr {

      &:not(:last-child) {
        border-bottom: 1px solid (var(--english-breakfast-500));
      }

      text-align: left;

      &:nth-child(1) {
        font-size: typo.$m;
        border-width: 3px;
      }
    }

    td {
      padding-bottom: spacings.$s-4;
      padding-top: spacings.$s-4;
    }

    th {
      padding-bottom: spacings.$s-4;
      text-transform: capitalize;
    }
  }

}
