@use "src/stylesheets/variables/typo";
@use "src/stylesheets/variables/spacings";

.eventLog {
  max-width: 80vw;

  .title {
    font-size: typo.$xl;
    margin-top: spacings.$s-7;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      position: sticky;
      top: 0;
      font-size: typo.$m;
      text-align: left;
      border-bottom: 3px solid hsl(var(--english-breakfast-500));
    }

    tbody {
      display: block;
      max-height: 600px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 8px;
        margin-left: 10px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: hsl(var(--english-breakfast-500), 0.9);
        border-radius: 4px;
        &:hover {
          background-color: hsl(var(--english-breakfast-500));
        }
      }
    }

    tr {
      display: table;
      width: 100%;
      table-layout: fixed;

      &:not(:last-child) {
        border-bottom: 1px solid hsl(var(--english-breakfast-500));
      }

      td {
        padding: spacings.$s-4 spacings.$s-7 spacings.$s-4 0;

        &.evidenceRow {
          padding: spacings.$s-1 spacings.$s-2;
        }
      }
    }

    th,
    td {
      padding: spacings.$s-4 spacings.$s-7 spacings.$s-4 0;
      text-transform: capitalize;

      &:nth-child(1) {
        width: 20%;
      }
      &:nth-child(2) {
        width: 35%;
      }

      &:nth-child(3) {
        width: 15%;
      }
      &:nth-child(4) {
        width: 30%;
        padding-right: 0;
      }
    }
  }
}
