@use "src/stylesheets/variables/spacings";
@use "src/stylesheets/variables/typo";

$brownDarken40: hsla(var(--english-breakfast-800), 0.6);
$brownDarken20: hsla(var(--english-breakfast-700), 0.6);
$green: hsl(180, 46%, 15%);
$pink: hsl(313, 74%, 35%);

.arbitrationDetails {
  .titleWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: spacings.$s-4;
  }

  .title {
    font-size: typo.$xl;
  }

  .detailsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: spacings.$s-3 spacings.$s-4;
    margin-bottom: spacings.$s-7;
    border: 1px solid $brownDarken40;
    border-radius: 4px;

    > span {
      b {
        margin-right: spacings.$s-2;
      }
    }
  }
}
