@use "src/stylesheets/variables/typo";

.tag {
  padding: 0.25rem;
  border-width: 1px;
  font-size: typo.$xs;
  border-color: hsl(var(--smooth-coffee-600));
  color: hsl(var(--smooth-coffee-600));
  border-style: solid;
  border-radius: 4px;
  text-transform: uppercase;
}