html {
  height: auto;
}

body {
  height: auto;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

nav > *[hide] {
  display: none;
}

header {
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

header+nav:first-of-type {
  padding: 0 2.5rem;
  position: sticky;
  top:0 // Go sticky when top distance is zero
}

main {
  padding: 0 2.5rem;

  > section {
    padding: 3rem 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

  }
}

footer {
  margin-top: auto;
  padding: 0 2.5rem;
}
