$palette: (
        'primary': #f3ecc9,
        'secondary': #231b1b,
        'brown': (
                'alpha': #421610,
                'beta': #2d1e1e,
                'charlie': #270804,
                'delta': #271b1b,
        ),
        'grey': (
                'alpha': #5c4d4d,
                'beta': #6e6673,
                'charlie': #aea6a5,
                'delta': #cfcccc,
        ),
        'helper':(
                'green': #0b7d0f,
                'blue': #344289,
                'blueLight': #006FCA,
                'red': #b62121,
                'orange': #a34807,
        )
);


$colorStatus: (
        live: map-get($palette, 'helper', 'green'),
        withdrawn: map-get($palette, 'helper', 'blue'),
        debunked: map-get($palette, 'helper', 'red'),
        challenged: map-get($palette, 'helper', 'orange'),
);


$colorButton: (
        primary:(fill: map-get($palette, 'brown', 'beta'), stroke:map-get($palette, 'brown', 'charlie'), text:map-get($palette, 'primary')),
        secondary:(fill: transparent, stroke:map-get($palette, 'brown', 'beta'), text:map-get($palette, 'secondary')),
        hover:(fill: map-get($palette, 'brown', 'alpha'), stroke:map-get($palette, 'brown', 'beta'), text:map-get($palette, 'primary')),
        pressed:(fill: map-get($palette, 'brown', 'delta'), stroke:map-get($palette, 'brown', 'charlie'), text:map-get($palette, 'primary')),
        disabled:(fill: map-get($palette, 'grey', 'delta'), stroke:map-get($palette, 'grey', 'charlie'), text:map-get($palette, 'grey', 'alpha'))
)

