@use "src/stylesheets/variables/spacings";
@use "src/stylesheets/variables/typo";

.appealPeriod {
  display: flex;
  flex-direction: column;

  .crowdFundingPanel {
    padding: spacings.$s-4 spacings.$s-7;
    margin-bottom: spacings.$s-18;
    border: 1px solid hsl(var(--english-breakfast-800));
    border-radius: 4px;

    .title {
      margin-bottom: spacings.$s-4;
      font-size: typo.$m;
    }

    .appealOptions {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: spacings.$s-4;
    }

    .footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .label {
        display: flex;
        align-items: center;
        gap: spacings.$s-1;
        margin-bottom: spacings.$s-2;
        font-size: typo.$xs;
        .colorBox {
          width: spacings.$s-3;
          height: spacings.$s-3;
          background-color: hsl(313, 74%, 35%);
        }
      }
    }
  }

  .button {
    display: flex;
    justify-content: center;
    margin-bottom: spacings.$s-5;
    width: 100%;
  }

  .juryDecision {
    display: flex;
    justify-content: center;
    margin-bottom: spacings.$s-12;

    span {
      margin-left: spacings.$s-2;
      color: hsl(var(--red-reign-600));
    }
  }

  .crowdFundingPanel :global {
    .ant-progress {
      .ant-progress-text {
        font-size: typo.$xl;
        width: 98%;
        text-align: right;
        margin-top: spacings.$s-2;
        margin-bottom: spacings.$s-2;
      }
      .ant-progress-outer {
        padding-right: 0;
        .ant-progress-inner {
          border: 1px solid hsl(var(--english-breakfast-800));
          border-radius: 4px;
          height: spacings.$s-4;

          .ant-progress-bg {
            background: hsl(180, 46%, 15%);
            border: 1px solid hsl(180, 100%, 38%);
          }
          .ant-progress-success-bg {
            background: hsl(313, 74%, 35%);
            border: 1px solid hsl(314, 65%, 82%);
          }

          .ant-progress-bg,
          .ant-progress-success-bg {
            border-radius: inherit;
            height: inherit !important;
          }
        }
      }
    }

    .ant-radio-group {
      width: 100%;
      span {
        font-size: typo.$s;
        font-weight: bold;
      }

      .ant-radio-inner {
        border-color: hsl(var(--english-breakfast-800));
        background-color: transparent;
      }
      .ant-radio-inner:after,
      .ant-radio-checked:after {
        background-color: hsl(var(--english-breakfast-800));
      }
    }
  }
}

.appealFundingModal {
  width: 90%;
  max-width: 1200px;
}
