@use "src/stylesheets/variables/typo";
@use "src/stylesheets/variables/colors";

.footer {
  min-height: 4rem;
  max-height: 10rem;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;

  &>span, &>a {
    align-self: center;
  }
}

.containerCopyright {
  font-size: typo.$xxs;
  justify-self: center;
}

.containerText {
  justify-self: left;
}

.containerSocial {
justify-self: right;
  a + a {
    margin-left: calc(1vw + 0.5rem);
  }
}
