@use "src/stylesheets/variables/spacings";

.containerMetadata {
  margin-bottom: 1.25rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > div:first-child {
    display: flex;
    flex-direction: column;
  }
}
