@use "src/stylesheets/variables/typo";
@use "src/stylesheets/variables/spacings";

.header {
  margin-bottom: spacings.$s-5;

  text-align: center;

  .logoContainer{
    margin: auto;
    max-width: min(43rem, 90vw);

    & > svg {
      width: 100%;
    }
  }

  .subtitleContainer {
    margin-top: spacings.$s-4;
    width: fit-content;
    margin: auto;
  }


  .subtitle {
    padding: 0 1rem;
    font-size: typo.$l;
    margin-bottom: spacings.$s-2
  }

  .subtitleDate {
    margin-top: spacings.$s-2;
    font-size: typo.$s;
  }

}
