@use "src/stylesheets/variables/spacings";

.title {
  margin-bottom: 0.75rem;

  & + span {
    vertical-align: super;
  }
}

.description {
  white-space: break-spaces;
}

.containerTag {
  margin-top: spacings.$s-3;
  margin-bottom: spacings.$s-10;

  span + span {
    margin-left: 0.25rem;
  }
}
