@use "src/stylesheets/variables/spacings";
@use "src/stylesheets/variables/typo";

.containerKeyMetrics {
  display: flex;
  justify-content: space-between;
  margin-bottom: spacings.$s-7;
}

.trustScore {
  font-size: typo.$xl;

  .unit {
    margin-left: spacings.$s-1;
    font-size: typo.$l;
  }
}

.bountyAmount {
  font-size: typo.$xl;
  text-align: end;
}
