@use "src/stylesheets/variables/spacings";
@use "src/stylesheets/variables/colors";
@use "src/stylesheets/variables/typo";

.title {
  font-size: typo.$xl;
  margin-bottom: spacings.$s-4;
}

.detailsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: spacings.$s-3 spacings.$s-4;
  margin-bottom: spacings.$s-7;
  border: 1px solid map-get(colors.$palette, "brown", "beta");
  border-radius: 4px;
}

.detailsContainer > span {
  b {
    margin-right: spacings.$s-2;
  }
}

.appealPeriod {
  padding: spacings.$s-4 spacings.$s-7;
  margin-bottom: spacings.$s-18;
  border: 1px solid map-get(colors.$palette, "brown", "beta");
  border-radius: 4px;
}

.title {
  margin-bottom: spacings.$s-4;
  font-size: typo.$m;
}

:global(.ant-radio-group) {
  width: 100%;
}

:global(.ant-radio-group) {
  span {
    font-size: typo.$s;
    font-weight: bold;
  }
}

.appealOptions {
  display: flex;
  justify-content: space-between;
  gap: spacings.$s-4;
}

.option {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: spacings.$s-4;
  margin-bottom: spacings.$s-5;
  border: 1px solid map-get(colors.$palette, "brown", "beta");
  border-radius: 4px;
  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

:global(.ant-progress-success-bg) {
  background: map-get(colors.$palette, "helper", "green", "beta");
  height: 20px;
  border: 1px solid #00c3c3;
}

:global(.ant-progress-bg) {
  background: map-get(colors.$palette, "helper", "pink", "alpha");
  border: 1px solid #efb3e1;
}

:global(.ant-progress-inner) {
  border: 1px solid map-get(colors.$palette, "brown", "alpha");
}

:global(.ant-progress) {
  span {
    font-size: typo.$xl;
    margin-left: auto;
  }
}
